<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Materiais</title>

<link rel="stylesheet" th:href="@{/css/bootstrap.css}" />

<link rel="stylesheet" th:href="@{/css/dropzone.min.css}" />

<link rel="stylesheet"
	href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet"
	href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>



<style type="text/css">
.dropzone {
	background-image: url("figuras/bgFile.gif");
	padding: 0px;
	margin: 0px;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 200px;
	border: 2px dashed #DCDCDC;
}

img {
	border-style: none;
}

/* The switch - the box around the slider */
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
	float: left;
	margin-top: 6px;
	margin-right: 6px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input.default:checked+.slider {
	background-color: #444;
}

input.success:checked+.slider {
	background-color: #8bc34a;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}
</style>

</head>
<body>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<a class="navbar-brand" href="/figuras">Plataforma</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item"><a class="nav-link" href="/categorias">Categorias
				</a></li>
				<li class="nav-item"><a class="nav-link" href="/tags">Tags</a></li>
				<li class="nav-item"><a class="nav-link" href="/materiais">Materiais</a></li>


			</ul>
		</div>
	</nav>

	<div class="container-fluid">



		<div class="row" style="margin-top: 20px">

			<div class="col-md-12">

				<h1 class="text-right" style="margin: 10px 0 20px 0">
					<span class="badge" style="background-color: #B8401F; color: #fff">Materiais</span>
				</h1>


				<div id="containerUpload">

					<form action="/upload" class="dropzone" id="up">

						<span class="badge badge-secondary" style="margin: 6px 6px;">Clique
							ou arraste para selecionar o arquivo | imagens, pdf, mp3, mp4 | <
							100 mb</span>

						<div class="fallback">
							<input name="file" type="file" multiple />
						</div>

					</form>


				</div>


				<div class="progress" id="containerProgressBar"
					style="height: 40px; margin: 10px 0; display: none;">
					<div class="progress-bar progress-bar-striped" id="progressBar"
						role="progressbar" aria-valuenow="0" aria-valuemin="0"
						aria-valuemax="100" style="background-color: #A8A454 !important;">
						<h5 style="text-align: center; margin: 12px 0;">
							<span id="progresso"></span>
						</h5>
					</div>
				</div>


			</div>

		</div>

		<div class="row" id="containerPreviewImagem"
			style="margin-top: 20px; display:;">

			<div class="col-md-4 text-center">

				<img class="img-fluid rounded" id="imagem" />

			</div>

			<div class="col-md-5">

				<h4>Descrição da figura</h4>				
			

				<form method="post" th:object="${figura}"
					th:action="@{/materiais/figura}">
 					
					
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Nome</label> <input type="text"
							class="form-control" id="nomeImagem" th:field="*{nome}">
					</div>
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Autor</label> <input type="text"
							class="form-control" id="autor" aria-describedby="autor"
							th:field="*{autor}">
					</div>

					<input type="hidden" class="form-control" id="urlImagem"
						th:field="*{url}" /> <input type="hidden" class="form-control"
						id="nomeOriginalImagem" th:field="*{nomeOriginal}" /> <input
						type="hidden" class="form-control" id="tamanhoImagem"
						th:field="*{tamanho}" />

					<button type="submit" class="btn btn-secondary"
						style="margin-top: 20px;">Salvar</button>
						
					</div>
					
					<div class="col-md-3" style="border-left: 1px solid #ccc">

					<h4>Categorias</h4>


					<th:block th:each="categoria : ${categorias}">

						<label class="mdl-switch mdl-js-switch mdl-js-ripple-effect"
							th:for="${categoria.id}"> <input type="checkbox" th:field="*{categorias}"
								th:value="${categoria.id}" th:id="${categoria.id}"
							class="mdl-switch__input" style="margin-bottom: 22px"> <span
							class="mdl-switch__label" th:text="${categoria.nome}"></span>
						</label>


					</th:block>





				</form>


			</div>

		</div>



		<div class="row" id="containerPreviewTexto"
			style="margin-top: 20px; display: none;">

			<div class="col-md-5 text-center">

				<object id="texto" width="450" height="400"></object>

			</div>

			<div class="col-md-7">

				<h3>Descrição do texto</h3>

				<form method="post" th:object="${texto}"
					th:action="@{/materiais/texto}">
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Nome</label> <input type="text"
							class="form-control" id="nomeTexto" th:field="*{nome}">
					</div>
					<div class="form-group" style="margin-top: 20px;">

						<label for="Resumo">Resumo</label>
						<textarea class="form-control" id="resumo" rows="3"
							th:field="*{resumo}"></textarea>

					</div>

					<input type="hidden" class="form-control" id="urlTexto"
						th:field="*{url}" /> <input type="hidden" class="form-control"
						id="nomeOriginalTexto" th:field="*{nomeOriginal}" /> <input
						type="hidden" class="form-control" id="tamanhoTexto"
						th:field="*{tamanho}" />

					<button type="submit" class="btn btn-secondary"
						style="margin-top: 20px;">Salvar</button>

				</form>

			</div>

		</div>


		<div class="row" id="containerPreviewAudio"
			style="margin-top: 20px; display: none;">

			<div class="col-md-5 text-center">

				<img class="card-img-top" src="/figuras/iconMp3.png" alt="Img"
					style="width: 96px; height: 96px;" /> <br />

				<audio style="margin: 20px 0; width: 400px;" controls="controls"
					id="audio"> Erro ao executar!
				</audio>

			</div>

			<div class="col-md-7">

				<h3>Descrição do áudio</h3>

				<form method="post" th:object="${audio}"
					th:action="@{/materiais/audio}">
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Nome</label> <input type="text"
							class="form-control" id="nomeAudio" th:field="*{nome}">
					</div>
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Duração</label> <input type="text"
							class="form-control" id="duracao" aria-describedby="duracao"
							th:field="*{duracao}">
					</div>

					<input type="hidden" class="form-control" id="urlAudio"
						th:field="*{url}" /> <input type="hidden" class="form-control"
						id="nomeOriginalAudio" th:field="*{nomeOriginal}" /> <input
						type="hidden" class="form-control" id="tamanhoAudio"
						th:field="*{tamanho}" />

					<button type="submit" class="btn btn-secondary"
						style="margin-top: 20px;">Salvar</button>

				</form>

			</div>

		</div>


		<div class="row" id="containerPreviewVideo"
			style="margin-top: 20px; display: none;">

			<div class="col-md-5 text-center align-top">

				<video style="width: 400px; height: 350px;" controls="controls"
					id="video"> Erro ao executar!
				</video>

			</div>

			<div class="col-md-7">

				<h3>Descrição do vídeo</h3>

				<form method="post" th:object="${video}"
					th:action="@{/materiais/video}">
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Nome</label> <input type="text"
							class="form-control" id="nomeVideo" th:field="*{nome}">
					</div>
					<div class="form-group" style="margin-top: 20px;">
						<label for="nome">Produção</label> <input type="text"
							class="form-control" id="producao" aria-describedby="producao"
							th:field="*{producao}">
					</div>

					<input type="hidden" class="form-control" id="urlVideo"
						th:field="*{url}" /> <input type="hidden" class="form-control"
						id="nomeOriginalVideo" th:field="*{nomeOriginal}" /> <input
						type="hidden" class="form-control" id="tamanhoVideo"
						th:field="*{tamanho}" />

					<button type="submit" class="btn btn-secondary"
						style="margin-top: 20px;">Salvar</button>

				</form>


			</div>

		</div>


		<div class="row" id="containerMateriais" style="margin-top: 50px;">

			<div class="col-md-2" th:each="material : ${materiais}"
				style="padding-bottom: 30px">

				<div class="card p-3"
					th:if="${#strings.contains(material, 'Figura')}">

					<div class="card-header text-right"
						style="padding: 4px 4px; margin-bottom: 8px">
						<a th:href="@{${'http://localhost:3000/' + material.url }}"
							class="badge badge-info" target="_blank">Exibir</a>
					</div>

					<a href="#" data-toggle="modal"
						th:data-target="'#cam_' + ${material.id}" title="Detalhes"> <img
						class="card-img-top text-center"
						th:src="@{${'http://localhost:3000/' + material.url }}" alt="Img"
						border="0" />

					</a>

					<div class="card-body text-center"
						style="margin: 0; padding: 2px 0">


						<p class="card-title" th:text="${material.nome}"
							style="margin: 0; padding: 2px 0"></p>

						<p class="card-text text-muted">
							<small
								th:text="${#temporals.format(material.dataRegistro, 'dd/MM/yyyy HH:mm')}"></small>
						</p>

					</div>

				</div>

				<div class="card p-3"
					th:if="${#strings.contains(material, 'Texto')}">

					<div class="card-header text-right"
						style="padding: 4px 4px; margin-bottom: 8px">
						<a th:href="@{${'http://localhost:3000/' + material.url }}"
							class="badge badge-info" target="_blank">Exibir</a>
					</div>


					<span class="text-center"> <a href="#" data-toggle="modal"
						th:data-target="'#cam_' + ${material.id}" title="Detalhes"> <img
							class="card-img-top" src="/figuras/iconPdf.png" alt="Img"
							style="width: 96px; height: 96px;" border="0">

					</a>
					</span>

					<div class="card-body text-center"
						style="margin: 0; padding: 2px 0">
						<p class="card-title" th:text="${material.nome}"></p>

						<p class="card-text text-muted">
							<small
								th:text="${#temporals.format(material.dataRegistro, 'dd/MM/yyyy HH:mm')}"></small>
						</p>

					</div>

				</div>

				<div class="card p-3"
					th:if="${#strings.contains(material, 'Audio')}">

					<div class="card-header text-right"
						style="padding: 4px 4px; margin-bottom: 8px">
						<a th:href="@{${'http://localhost:3000/' + material.url }}"
							class="badge badge-info" target="_blank">Exibir</a>
					</div>


					<span class="text-center"> <a href="#" data-toggle="modal"
						th:data-target="'#cam_' + ${material.id}" title="Detalhes"> <img
							class="card-img-top" src="/figuras/iconMp3.png" alt="Img"
							style="width: 96px; height: 96px;" border="0">

					</a>
					</span>

					<div class="card-body text-center"
						style="margin: 0; padding: 2px 0">
						<p class="card-title" th:text="${material.nome}"
							style="margin: 0; padding: 2px 0"></p>

						<p class="card-text text-muted">
							<small
								th:text="${#temporals.format(material.dataRegistro, 'dd/MM/yyyy HH:mm')}"></small>
						</p>

					</div>

				</div>

				<div class="card p-3"
					th:if="${#strings.contains(material, 'Video')}">

					<div class="card-header text-right"
						style="padding: 4px 4px; margin-bottom: 8px">
						<a th:href="@{${'http://localhost:3000/' + material.url }}"
							class="badge badge-info" target="_blank">Exibir</a>
					</div>


					<span class="text-center"> <a href="#" data-toggle="modal"
						th:data-target="'#cam_' + ${material.id}" title="Detalhes"> <img
							class="card-img-top" src="/figuras/iconVideo.png" alt="Img"
							style="width: 96px; height: 96px;" border="0">

					</a>
					</span>

					<div class="card-body text-center"
						style="margin: 0; padding: 2px 0">
						<p class="card-title" th:text="${material.nome}"
							style="margin: 0; padding: 2px 0"></p>

						<p class="card-text text-muted">
							<small
								th:text="${#temporals.format(material.dataRegistro, 'dd/MM/yyyy HH:mm')}"></small>
						</p>

					</div>

				</div>



			</div>

		</div>

	</div>





	<!-- Modal Erro -->
	<div class="modal fade" id="containerErro" tabindex="-1" role="dialog"
		aria-labelledby="containerErro" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content">
				<div class="modal-header"
					style="background-color: #A81533; color: #fff">
					<h5 class="modal-title" id="exampleModalLongTitle">Erro</h5>
					<button type="button" class="close" data-dismiss="modal"
						aria-label="Close" style="color: #fff">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<span id="msg"></span>
				</div>
			</div>
		</div>
	</div>
	
	

	<!-- Modal Detalhes -->
	<div class="col-md-2" th:each="material : ${materiais}">

		<div th:if="${#strings.contains(material, 'Figura')}">

			<div class="modal fade" th:id="'cam_' + ${material.id}" tabindex="-1"
				role="dialog" th:aria-labelledby="'cam_' + ${material.id}"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Detalhes</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="row">

								<div class="col-md-4 text-center">

									<img th:src="@{${'http://localhost:3000/' + material.url }}"
										alt="Img" class="img-fluid" style="border: 0;">

									<p>
										<small><span th:text="${material.tamanho}"></span></small>
									</p>

								</div>

								<div class="col-md-8">


									<div style="margin: 0; padding: 0">
										<small><b>Nome</b></small>
									</div>

									<p th:text="${material.nome}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Nome original</b></small>
									</div>

									<p th:text="${material.nomeOriginal}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Autor</b></small>
									</div>

									<p th:text="${material.autor}"></p>


								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div th:if="${#strings.contains(material, 'Texto')}">

			<div class="modal fade" th:id="'cam_' + ${material.id}" tabindex="-1"
				role="dialog" th:aria-labelledby="'cam_' + ${material.id}"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Detalhes</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="row">

								<div class="col-md-4 text-center">

									<img class="img-fluid" src="/figuras/iconPdf.png" alt="Img"
										style="width: 96px; height: 96px; border: 0" border="0">

									<p>
										<small><span th:text="${material.tamanho}"></span></small>
									</p>

								</div>

								<div class="col-md-8">

									<div style="margin: 0; padding: 0">
										<small><b>Nome</b></small>
									</div>

									<p th:text="${material.nome}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Nome original</b></small>
									</div>

									<p th:text="${material.nomeOriginal}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Resumo</b></small>
									</div>

									<p th:text="${material.resumo}"></p>


								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div th:if="${#strings.contains(material, 'Audio')}">

			<div class="modal fade" th:id="'cam_' + ${material.id}" tabindex="-1"
				role="dialog" th:aria-labelledby="'cam_' + ${material.id}"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Detalhes</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="row">

								<div class="col-md-4 text-center">

									<img class="img-fluid" src="/figuras/iconMp3.png" alt="Img"
										style="width: 96px; height: 96px; border: 0" border="0">

									<p>
										<small><span th:text="${material.tamanho}"></span></small>
									</p>

								</div>

								<div class="col-md-8">

									<div style="margin: 0; padding: 0">
										<small><b>Nome</b></small>
									</div>

									<p th:text="${material.nome}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Nome original</b></small>
									</div>

									<p th:text="${material.nomeOriginal}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Duração</b></small>
									</div>

									<p th:text="${material.duracao} + ' Min.'"></p>


								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>

		<div th:if="${#strings.contains(material, 'Video')}">

			<div class="modal fade" th:id="'cam_' + ${material.id}" tabindex="-1"
				role="dialog" th:aria-labelledby="'cam_' + ${material.id}"
				aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="exampleModalLongTitle">Detalhes</h5>
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
						</div>
						<div class="modal-body">

							<div class="row">

								<div class="col-md-4 text-center">

									<img class="img-fluid" src="/figuras/iconVideo.png" alt="Img"
										style="width: 96px; height: 96px; border: 0" border="0">

									<p>
										<small><span th:text="${material.tamanho}"></span></small>
									</p>

								</div>

								<div class="col-md-8">

									<div style="margin: 0; padding: 0">
										<small><b>Nome</b></small>
									</div>

									<p th:text="${material.nome}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Nome original</b></small>
									</div>

									<p th:text="${material.nomeOriginal}"></p>

									<div style="margin: 0; padding: 0">
										<small><b>Produção</b></small>
									</div>

									<p th:text="${material.producao}"></p>


								</div>

							</div>

						</div>
					</div>
				</div>
			</div>

		</div>


	</div>


	<script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>

	<script type="text/javascript" th:src="@{/js/bootstrap.js}"></script>

	<script type="text/javascript" th:src="@{/js/dropzone.min.js}"></script>



	<script type="text/javascript">
	
	let uploadInciado = false;
	
	
	let progressBar = document.querySelector("#progressBar");	
	let progressBarProgresso = document.querySelector("#progresso");
	
	
	let imagem = document.querySelector("#imagem");	
	let texto = document.querySelector("#texto");
	let audio = document.querySelector("#audio");
	let video = document.querySelector("#video");

	
	function erro(file, response){
		
		resetUpload();
			
		let nomeArquivo = file.name;
		
		let tamanhoArquivo = parseFloat((file.size /1024) / 1024).toFixed(3);
		
		let textoErro = '';
		
		if(!file.accepted){					
			
			textoErro = 'Formato ou Tamanho inválido!'
			
		}else{
			
			textoErro = JSON.parse(JSON.stringify(response)).erro;			
		}
		
		$("#containerErro").modal();
	
		document.querySelector("#msg").innerHTML = '<p><b>Arquivo:</b> ' + nomeArquivo + '</p><p><b>Tamanho:</b> ' + tamanhoArquivo + ' Mb</p><p><b>' + textoErro + '</b></p>';
		
		setTimeout(function(){
			
			$("#containerErro").modal("hide");
			
			document.querySelector("#msg").innerHTML = '';
			
		}, 4000);
		
		
	}	
	
	function progressBarCorreBergson(progress, file){
		
		let nomeOriginal = file.name;
		
		let tamanhoArquivo = parseFloat((file.size /1024) / 1024).toFixed(3);
	
		if(!uploadInciado){
			
			uploadInciado = true;			
			
			$("#containerProgressBar").show(); 
			
			$("#containerUpload").hide();
		}
			
		progressBar.setAttribute("aria-valuenow", parseInt(progress));
		
		progressBar.style.width = parseInt(progress) + "%";
				
		progressBarProgresso.innerHTML = nomeOriginal + " - " + tamanhoArquivo + " Mb";
	
	}
	
	
	function resetUpload(){
		
		$("#containerProgressBar").hide();
		
		progressBar.setAttribute("aria-valuenow", 0);
		
		progressBar.style.width = "0%";
		
		progressBarProgresso.innerHTML = "";
		
		uploadInciado = false;	 
		
		$("#containerUpload").show();		
		
	}	
	
	
	function preview(file, response){
		
		let nomeOriginal = file.name;
		
		let url = JSON.parse(JSON.stringify(response)).arquivo;
		
		let tamanhoArquivo = parseFloat((file.size /1024) / 1024).toFixed(3) + " Mb";
		
		let tipo = file.type;
		
		let containerPreview = '#containerPreview';
			
		if(tipo.includes('image/')){
			
			containerPreview += 'Imagem';
			
			let nomeImagem = document.querySelector("#nomeImagem");
			let urlImagem = document.querySelector("#urlImagem");
			let nomeOriginalImagem = document.querySelector("#nomeOriginalImagem");
			let tamanhoImagem = document.querySelector("#tamanhoImagem");
			
			nomeImagem.value = nomeOriginal.split(".")[0];
			
			imagem.src = "http://localhost:3000/" + url;		
			
			urlImagem.value = url;
			
			nomeOriginalImagem.value = nomeOriginal;
			
			tamanhoImagem.value = tamanhoArquivo;
		    
			
		}else if(tipo.includes('application/pdf')){
			
			containerPreview += 'Texto';
			
			let nomeTexto = document.querySelector("#nomeTexto");
			let urlTexto = document.querySelector("#urlTexto");
			let nomeOriginalTexto = document.querySelector("#nomeOriginalTexto");
			let tamanhoTexto = document.querySelector("#tamanhoTexto");
			
			nomeTexto.value = nomeOriginal.split(".")[0];	
			
			urlTexto.value = url;
			
			nomeOriginalTexto.value = nomeOriginal;
			
			tamanhoTexto.value = tamanhoArquivo;
			
			texto.setAttribute("data", "http://localhost:3000/" + url);
			
		
		}else if(tipo.includes('audio/mpeg')){
			
			containerPreview += 'Audio';
			
			let nomeAudio = document.querySelector("#nomeAudio");
			let urlAudio = document.querySelector("#urlAudio");
			let nomeOriginalAudio = document.querySelector("#nomeOriginalAudio");
			let tamanhoAudio = document.querySelector("#tamanhoAudio");
			
			nomeAudio.value = nomeOriginal.split(".")[0];	
			
			urlAudio.value = url;
			
			nomeOriginalAudio.value = nomeOriginal;
			
			tamanhoAudio.value = tamanhoArquivo;
			
			audio.innerHTML = '<source src="http://localhost:3000/' + url+ '" type="audio/mp3" />';
			
		
		}else if(tipo.includes('video/mp4')){
			
			containerPreview += 'Video';
			
			let nomeVideo = document.querySelector("#nomeVideo");
			let urlVideo = document.querySelector("#urlVideo");
			let nomeOriginalVideo = document.querySelector("#nomeOriginalVideo");
			let tamanhoVideo = document.querySelector("#tamanhoVideo");
			
			nomeVideo.value = nomeOriginal.split(".")[0];	
			
			urlVideo.value = url;
			
			nomeOriginalVideo.value = nomeOriginal;
			
			tamanhoVideo.value = tamanhoArquivo;
					
			video.innerHTML = '<source src="http://localhost:3000/' + url+ '" type="video/mp4">';
			
		}
		
		$(containerPreview).toggle('slow');		
		
	}
	
	
		Dropzone.options.up = {
			paramName : "file",
			dictDefaultMessage : "",
			maxFilesize : 100,
			maxFiles: 1,
			parallelUploads : 1,
			acceptedFiles : "application/pdf, image/*, audio/mpeg, video/mp4",
			previewTemplate : '<div style="display:none"></div>',		
			success : function(file, response) {preview(file, response);},			
			error : function(file, response) {erro(file, response);},			
			init : function() {
				
				this.on("uploadprogress", function(file, progress, bytesSent) {
					
					progressBarCorreBergson(progress, file);									
					
				})
			}

		};
	
	</script>

</body>
</html>

